@model Product
@{
    ViewData["Title"] = "Create";
}

<form asp-controller="Home" asp-action="Create" method="post">
    @* action="/Home/Create" *@
    <div class="mb-3">
        <label asp-for="Name" class="form-label">Name</label>
        <input asp-for="Name" class="form-control" value="" />
    </div>
    <div class="mb-3">
        <label asp-for="Price" class="form-label">Price</label>
        <input asp-for="Price" class="form-control" value="" />
    </div>
    <div class="mb-3">
        <label asp-for="Image" class="form-label">Image</label>
        <input asp-for="Image" class="form-control" value="" />
    </div>
    <div class="mb-3">
        <label asp-for="CategoryId" class="form-label">Category</label>
        <select asp-for="CategoryId" class="form-select" asp-items="ViewBag.Categories">
           
        </select>
    </div>
    <div class="mb-3 form-check">
        <input asp-for="IsActive" class="form-check-input" />
        <label asp-for="IsActive" class="form-check-label"></label>
    </div>
    <button type="submit" class="btn btn-primary">Kaydet</button>
</form>